<footer>
    <p>Coded with 🥰 by Danielle</p>
    <p><a href="https://github.com/dfeeney96"><img src="/github.png" alt="github-icon" width="30px"></a></p>
    <a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Muhamad Ulum -
        Flaticon</a>
</footer>

</body>

</html>