<%- include("partials/header") %>
    <form action="/submit-work" method="post">
        <input type="text" name="workHeading" id="heading" placeholder="What's your boss bitch job?" autocomplete="off">
        <textarea name="workDetail" id="detail" cols="60" rows="2" placeholder="Tell me the details!"
            autocomplete="off"></textarea>
        <button type="submit">Let's do it! </button>
    </form>
    <section class="paper-background">
        <h1>
            You got this!
        </h1>

        <% items.forEach(item=> { %>
            <div class="list"></div>
            <div class="to-do-body">
                <input type="checkbox" name="to-do-complete" id="complete">
                <div class="to-do-text">
                    <h2>
                        <%= item.header %>
                    </h2>
                    <p>
                        <%= item.body %>
                    </p>
                    <p>(like a boss)</p>
                </div>
            </div>
            <% }) %>
                </div>

    </section>

    <%- include("partials/footer") %>